.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.breed-select {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 24px;
}

.cat-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.js-cat-img {
  height: 100%;
}
.card-wrap {
  max-width: 500px;
}

.sub-title {
  font-size: 18px;
  font-weight: 700;
}

.loader {
  font-size: 24px;
  font-weight: 500;
  color: green;
}
